<!DOCTYPE html>
<html ng-app="qbo">
  <head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="res/bootstrap.min.css" media="screen" />
    <!-- link rel="stylesheet" type="text/css" href="res/some_css.css" / -->

    
    <title>Library-QBO</title>
  </head>
  <body ng-controller="qbo_controller_1 as qbo">
    <!-- start navbar -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <!-- <span class="sr-only">Toggle navigation</span> -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Library-QBO</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: qbo.screen_no!=4}"><a href="" ng-click="qbo.goToScreen(1)">Home</a></li>
            <li ng-class="{active: qbo.screen_no===4 }"><a href="" ng-click="qbo.goToScreen(4)">Data Viewer</a></li>
            <li><a href="#contact">Feedback</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
     </div>

     <!-- end navbar -->
     <div style=" padding-left: 5px;">
       
       <button ng-show="qbo.screen_no!=1" class="btn btn-primary" ng-click="qbo.goBack()"> &lt;-Back </button>
       <h3 ng-show="qbo.screen_no===1"> Select first table </h3>
       <div ng-show="qbo.screen_no===4">
	 <h4>Showing data for {{qbo.operation_text}}</h4>
	 {{qbo.record_count_text}}
	 <br/>
       </div>
       <div class="row" style="padding-top: 10px">
	 <div ng-show="qbo.screen_no>=2 && qbo.screen_no<=3">
	   <div class="col-md-3">
             <div class="panel panel-default">
	       <div class="panel-heading">
                   <span class="panel-title">{{qbo.first_selected_table_name}}</span>
                 
	       </div>
	       <div class="panel-body">
			<button class="btn btn-default" ng-click="qbo.selectOperation(qbo.first_selected_table_name,qbo.first_selected_table_name)" >View Data</button>
		<button class="btn btn-default" ng-click="qbo.granularityFormVisibility(qbo.first_selected_table_name,1)" ng-show="qbo.showGranularity!==1"> Show Details</button>
		<button class="btn btn-default" ng-click="qbo.granularityFormVisibility(qbo.first_selected_table_name,1)" ng-show="qbo.showGranularity===1"> Hide Details</button>                  
	       </div>
                   <form ng-submit="changeGranularity()" ng-show="qbo.showGranularity===1">
                       <div class="col" >
				{{qbo.test_variable}}
		       		<div  ng-repeat="cols in qbo.granularityForm">
					<div class="row">
						<div class="col-lg-10">
							<div class="input-group">
								<span class="input-group-addon">
									<input type="checkbox" ng-model="qbo.GranularityForm.checked[cols.name]" />
								</span>
								<input class="form-control" type="text" name={{cols.name}}  placeholder={{cols.name}} ng-model="qbo.GranularityForm.value[cols.name]">
							</div>
						</div>
					</div>
				</div>
                       <input class="btn btn-default" type="submit" value="Clear all" ng-click="qbo.clearGranularity()">
                       </div>
                   </form>
             </div>
	   </div>
	 </div>
         <div ng-show="qbo.screen_no===3">
	   <div class="col-md-3">
	     <div class="panel panel-default">
	       <div class="panel-heading">
                   <span class="panel-title">{{qbo.second_selected_table_name}}</span>
                 
	       </div>
	       <div class="panel-body">
			<button class="btn btn-default" ng-click="qbo.selectOperation(qbo.second_selected_table_name,qbo.second_selected_table_name)" >View Data</button>
		<button class="btn btn-default" ng-click="qbo.granularityFormVisibility(qbo.second_selected_table_name,2)" ng-show="qbo.showGranularity!==2"> Show Details</button>
		<button class="btn btn-default" ng-click="qbo.granularityFormVisibility(qbo.second_selected_table_name,2)" ng-show="qbo.showGranularity===2"> Hide Details</button>                  
	       </div>
                   <form ng-submit="changeGranularity()" ng-show="qbo.showGranularity===2">
                       <div class="col" >
				{{qbo.test_variable}}
		       		<div  ng-repeat="cols in qbo.granularityForm">
					<div class="row">
						<div class="col-lg-10">
							<div class="input-group">
								<span class="input-group-addon">
									<input type="checkbox" ng-model="qbo.GranularityForm.checked[cols.name]" />
								</span>
								<input class="form-control" type="text" name={{cols.name}}  placeholder={{cols.name}} ng-model="qbo.GranularityForm.value[cols.name]">
							</div>
						</div>
					</div>
				</div>
                       <input class="btn btn-default" type="submit" value="Clear All" ng-click="qbo.clearGranularity()">
                       </div>
                   </form>
             </div>
	   </div>
	 </div>
	 <div ng-repeat="table in qbo.all_tables" ng-show="qbo.screen_no===1">
	   <div class="col-md-3">
	     <a href="" ng-click="qbo.selectFirstTable(table)">
               <div class="panel panel-primary" ng-click="handleClick(2)">
		 <div class="panel-heading">
		   <h3 class="panel-title">{{table.name}}</h3>
		 </div>
		 <div class="panel-body">
		   <!-- <ul> -->
		   <!--   <li> <u>Operation 1</u> </li> -->
		   <!--   <li> <u>Operation 2</u> </li> -->
		   <!-- </ul> -->
		   {{table.descr}}
		 </div>
               </div>
	     </a>
	   </div>
	 </div><!-- /ng-repeat for first screen tables-->
       </div><!-- /row -->
       <hr ng-show="qbo.screen_no===2 || qbo.screen_no===3" /> 

       <h3 ng-show="qbo.screen_no===2 || qbo.screen===3"> Select table 2 </h3>
       <div class="row">
	 
	 <div ng-repeat="table in qbo.second_table_options" ng-show="qbo.screen_no===2">
	   <div class="col-md-3">
	     <a href="" ng-click="qbo.selectSecondTable(table)">
               <div ng-class="{ 'panel' :true ,'panel-primary':table.name!=qbo.first_selected_table_name, 'panel-default': qbo.first_selected_table_name==table.name  }">
		 <div class="panel-heading">
		   <h3 class="panel-title">{{table.name}}</h3>
		 </div>
		 <div class="panel-body">
		   <ul>
		     <li ng-repeat="operation in table.ops"> <u>{{operation.desc}}</u> </li>		   </ul>
		   {{table.descr}}
		 </div>
               </div>
	     </a>
	 </div>
	 
	 </div>
	<h3 ng-show="qbo.screen_no===3" > Select Operation </h3>
	 <div ng-repeat="operation in qbo.operations_list" ng-show="qbo.screen_no===3">
	   <div class="col-md-3">
	     <a href="" ng-click="qbo.selectOperation(operation.name,operation.desc)">
               <div class="panel panel-primary" ng-click="handleClick(2)">
		 <div class="panel-heading">
		   <h3 class="panel-title">{{operation.desc}}</h3>
		 </div>
               </div>
	     </a>
	 </div>
       </div>
       <div ng-show="qbo.screen_no===4" class="row" style="padding-left: 40px; padding-right: 40px;">
	 <table class="table table-striped">
	   <thead>
             <tr>
               <th ng-repeat="column in qbo.db_headers" >{{column}}</th>
             </tr>
	   </thead>
	   
	   <tbody>
	       	 
	     <tr ng-repeat="data_point in qbo.db_data" ng-show="qbo.allow_object_select===true">
	       <td ng-repeat="column in qbo.db_headers">
		 <a href="" ng-click="qbo.selectOneObject(data_point)" style="color: #003366">
		   {{data_point[column]}}
		 </a>
	       </td>
	     </tr>
	     <tr ng-repeat="data_point in qbo.db_data" ng-show="qbo.allow_object_select===false">
	       <td ng-repeat="column in qbo.db_headers">
		 {{data_point[column]}}
	       </td>
	     </tr>
	   </tbody>
	 </table>
       </div>
     </div>
   </div>
   <script type="text/javascript" src="res/angular.min.js"> </script>
   <script type="text/javascript" src="app.js"></script>
 </body>
</html>
