<!DOCTYPE html>
<html ng-app="qbo">
  <head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="res/bootstrap.min.css" media="screen" />
    <!-- link rel="stylesheet" type="text/css" href="res/some_css.css" / -->

    
    <title>Library-QBO</title>
  </head>
  <body ng-controller="qbo_controller_1 as qbo">
    <!-- start navbar -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <!-- <span class="sr-only">Toggle navigation</span> -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Library-QBO</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/cgi/test5.py">Home</a></li>
            <li><a href="#about">Data Viewer</a></li>
            <li><a href="#contact">Feedback</a></li>
            <!-- li class="dropdown">
		 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		 <ul class="dropdown-menu">
                   <li><a href="#">Action</a></li>
                   <li><a href="#">Another action</a></li>
                   <li><a href="#">Something else here</a></li>
                   <li class="divider"></li>
                   <li class="dropdown-header">Nav header</li>
                   <li><a href="#">Separated link</a></li>
                   <li><a href="#">One more separated link</a></li>
		 </ul>
            </li -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
     </div>

     <!-- end navbar -->
     <div style=" padding-left: 5px;">
       
       <button ng-show="qbo.screen_no!=1" class="btn btn-primary" ng-click="qbo.goBack()"> &lt;-Back </button>
       <h3 ng-show="qbo.screen_no===1"> Select first table </h3>
       <h4 ng-show="qbo.screen_no===4">Showing data</h4>
       <div class="row" style="padding-top: 10px">
	 <div ng-show="qbo.screen_no>=2">
	   <div class="col-md-3">
             <div class="panel panel-default">
	       <div class="panel-heading">
		 <h3 class="panel-title">{{qbo.first_selected_table_name}}</h3>
	       </div>
	       <div class="panel-body">
		 Panel content
	       </div>
             </div>
	   </div>
	 </div>
         <div ng-show="qbo.screen_no===3">
	   <div class="col-md-3">
             <div class="panel panel-default">
	       <div class="panel-heading">
		 <h3 class="panel-title">{{qbo.second_selected_table_name}}</h3>
	       </div>
	       <div class="panel-body">
		 Panel content
	       </div>
             </div>
	   </div>
	 </div>
	 <div ng-repeat="table in qbo.all_tables" ng-show="qbo.screen_no===1">
	   <div class="col-md-3">
	     <a href="" ng-click="qbo.selectFirstTable(table)">
               <div class="panel panel-primary" ng-click="handleClick(2)">
		 <div class="panel-heading">
		   <h3 class="panel-title">{{table.name}}</h3>
		 </div>
		 <div class="panel-body">
		   <!-- <ul> -->
		   <!--   <li> <u>Operation 1</u> </li> -->
		   <!--   <li> <u>Operation 2</u> </li> -->
		   <!-- </ul> -->
		   {{table.descr}}
		 </div>
               </div>
	     </a>
	   </div>
	 </div><!-- /ng-repeat for first screen tables-->
       </div><!-- /row -->
       <hr ng-show="qbo.screen_no===2 || qbo.screen_no===3" /> 

       <h3 ng-show="qbo.screen_no===2 || qbo.screen===3"> Select table 2 </h3>
       <div class="row">
	 
	 <div ng-repeat="table in qbo.second_table_options" ng-show="qbo.screen_no===2">
	   <div class="col-md-3">
	     <a href="" ng-click="qbo.selectSecondTable(table)">
               <div class="panel panel-primary" ng-click="handleClick(2)">
		 <div class="panel-heading">
		   <h3 class="panel-title">{{table.name}}</h3>
		 </div>
		 <div class="panel-body">
		   <ul>
		     <li ng-repeat="operation in table.ops"> <u>{{operation}}</u> </li>		   </ul>
		   {{table.descr}}
		 </div>
               </div>
	     </a>
	 </div>
	 
	 </div>
	 <div ng-repeat="operation in qbo.operations_list" ng-show="qbo.screen_no===3">
	   <div class="col-md-3">
	     <a href="" ng-click="qbo.selectSecondTable(table)">
               <div class="panel panel-primary" ng-click="handleClick(2)">
		 <div class="panel-heading">
		   <h3 class="panel-title">{{operation}}</h3>
		 </div>
		<!-- <div class="panel-body">
		   <ul>
		     <li ng-repeat="operation in table.ops"> <u>{{operation}}</u> </li>		   </ul>
		   {{table.descr}}
		 </div>-->
               </div>
	     </a>
	 </div>
       </div>
     </div>
   </div>
     <p>{{qbo.the_data}} {{qbo.operations_list}}</p>
   <script type="text/javascript" src="res/angular.min.js"> </script>
   <script type="text/javascript" src="app.js"></script>
 </body>
</html>
